---
title: A page for you
layout: base.njk
---

<div class="container">
    <h2>This is a page for you</h2>
    <div class="vibe">You are great ... </div>
    <div class="love">Lovely page </div>
</div>
<script src="/js/vibe.js"></script>